<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">聊天室</div>
        <div class="panel-body">
            <div class="list-group" scroll-to-bottom style="height:300px;overflow-y: auto">
                <div class="list-group-item" ng-repeat="message in room.messages track by $index">
                    <img ng-src="{{message.creator.avatar}}" alt=""/>{{message.creator.username}}:{{message.content}} <time am-time-ago="message.createAt"></time>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="form" ng-controller="MessageSendCtrl">
                <div class="form-group">
                    <textarea class="form-control" ng-model="newMessage" enter-break="createMessage()" placeholder="回车发送消息" ></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">在线</div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="user in room.users track by $index">
                    <img ng-src="{{user.avatar}}" alt=""/>{{user.username}}
                </div>
            </div>
        </div>
    </div>
</div>